* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Libre Franklin", sans-serif;
  background-color: #023A5C;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #023A5C;
}

.content {
  margin: 0 auto;
  width: 1000px;
}

.main {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 978px;
      flex-basis: 978px;
  width: 100%;
  background-color: transparent;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  background-color: transparent;
}

.main__header .menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header .menu__content .menu__logo {
  position: relative;
  width: 255px;
  height: 184px;
  background-color: white;
}

.main__header .menu__content .menu__logo__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__header .menu__content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__header .menu__content .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__header .menu__content .menu__item {
  font-size: 2.1rem;
  line-height: 2.1rem;
  margin: 0 18px;
}

.main__header .menu__content .menu__link {
  display: block;
  color: white;
  text-decoration: none;
}

.main .main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 890px;
  background-image: url(../images/bgc_main.png);
  background-position: 96px 0%;
}

.main .main__about .about__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-shadow: 3px 5.2px 6px #000000;
}

.main .main__about .about__content__title {
  position: absolute;
  top: 400px;
  right: -90px;
  color: white;
  font-weight: 300;
  width: 698px;
  height: 130px;
  font-size: 5rem;
}

.main .main__about .about__content__title-text {
  font-weight: 300;
}

.main .main__about .about__content__title-bottom {
  font-size: 2.4rem;
  text-align: right;
  margin-right: 90px;
}

.main .main__about .about__content .about__content__newsletter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 81px;
  margin-bottom: 35px;
}

.main .main__about .about__content .about__content__newsletter .newsletter__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 15px;
  margin-bottom: 15px;
}

.main .main__about .about__content .about__content__newsletter .newsletter__rectangle .rectangle__item {
  margin-left: 10px;
  width: 38px;
  height: 15px;
  border: 1px solid #707070;
}

.main .main__about .about__content .about__content__newsletter .newsletter__rectangle .rectangle__item--active {
  background-color: #023A5C;
}

.main .main__about .about__content .about__content__newsletter .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__about .about__content .about__content__newsletter .newsletter__form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 855px;
  height: 100%;
}

.main .main__about .about__content .about__content__newsletter .newsletter__form__image {
  margin-left: 12px;
}

.main .main__about .about__content .about__content__newsletter .newsletter__form__text {
  text-align: center;
  font-size: 2rem;
  width: 359px;
  height: 27px;
}

.main .main__about .about__content .about__content__newsletter .newsletter__form__email {
  width: 371px;
  height: 31px;
  margin-right: 11px;
}

.main .main__about .about__content .about__content__newsletter .newsletter__form__button {
  background-color: white;
  width: 133px;
  height: 55px;
  border: none;
  margin-left: auto;
  font-size: 2rem;
  font-weight: lighter;
  font-family: "Libre Franklin", sans-serif;
  color: #023A5C;
}

.main .main__about .main__navigation-fixed {
  position: relative;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 88px;
  left: 0px;
  height: 889px;
  width: 212px;
  background-color: white;
}

.main .main__about .main__navigation-fixed .menu-fixed__arrow {
  position: absolute;
  right: 10px;
}

.main .main__about .main__navigation-fixed .menu-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__about .main__navigation-fixed .menu-fixed__list {
  height: 649px;
  list-style: none;
  width: 125px;
}

.main .main__about .main__navigation-fixed .menu-fixed__title {
  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: dotted 2px black;
}

.main .main__about .main__navigation-fixed .menu-fixed__item {
  font-size: 2rem;
  margin-bottom: 8px;
}

.main .main__about .main__navigation-fixed .menu-fixed__item:nth-last-of-type(3) {
  border-bottom: dotted 2px black;
  padding-bottom: 20px;
}

.main .main__about .main__navigation-fixed .menu-fixed__social {
  margin-top: 10px;
  cursor: pointer;
}

.main .main__about .main__navigation-fixed .menu-fixed__link {
  display: block;
  color: #313748;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.main .main__about .main__navigation-fixed .menu-fixed__link--dotted {
  border-bottom: 2px dotted black;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */