.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 100%;
    background-color: white;

    &__company__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &__arrow {

        width: 20%;
        display: flex;
        padding: 55px;

        .arrow__image {
            cursor: pointer;

            &--rotated {
                transform: rotate(180deg);
                margin-left: auto;

            }

        }
    }
}