.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 100%;
    background-color: white;

    &__company__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &__arrow {

        width: 20%;
        display: flex;
        padding: 55px;

        .arrow__image {
            cursor: pointer;

            &--rotated {
                transform: rotate(180deg);
                margin-left: auto;

            }

        }
    }

    .footer__slider--small {
        display: none;
    }
}

@media screen and (max-width:$medium-device) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: white;

        .footer__arrow {
            // background-color: yellow;
            // width: 15px;
            // height: 25px;
            padding-left: 37px;

            &--right {
                padding-right: 37px;
            }

            .arrow__image {
                width: 100%;
                width: 15px;
                height: 25px;

                &--right {

                    width: 100%;
                    width: 15px;
                    // padding-right: 37px;
                }
            }
        }

        .footer__company__list {
            height: 100%;
            width: 491px;
            // background-color: tomato;
        }

        .company__item {
            margin-left: 16px;
        }

        .company__image {

            width: 100%;

        }

        .footer__slider--small {
            display: none;
        }
    }
}

@media screen and (max-width:$small-device) {
    .footer {

        height: 80px;
        width: 100%;


        // .content {

        .footer__slider--small {

            display: flex;
            align-items: center;
            justify-content: center;
            // width: 291px;
            height: 100%;
            width: 100%;

            .company__item--small {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90px;
                height: 80px;
            }

            .footer__arrow--small {
                width: 21px;
                height: 34px;

                .arrow__image--small {
                    width: 100%;
                }
            }

            .footer__arrow--rotate {

                transform: rotate(180deg);
            }
        }

        // }

        .footer__arrow {
            display: none;

        }

        .footer__company__list {
            display: none;
        }
    }
}