.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 100%;
    background-color: white;

    &__company__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: royalblue;
        width: 100%;
    }

    &__arrow {
        // justify-self: flex-end;
        // background-color: red;
        // margin-left: auto;
        width: 20%;
        display: flex;
        padding: 55px;



        // margin-right: 0 auto;


        .arrow__image {
            &--rotated {
                transform: rotate(180deg);
                margin-left: auto;

            }

        }
    }
}