.main {
    position: relative;
    flex-direction: column;
    flex-basis: 978px;
    width: 100%;
    background-color: transparent;

    &__header {
        display: flex;
        height: 88px;
        background-color: transparent;

        .menu__content {
            display: flex;
            justify-content: space-between;

            .menu__logo {
                position: relative;
                width: 255px;
                height: 184px;
                background-color: white;

                &__image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            .menu {
                display: flex;

                &__list {

                    display: flex;
                    list-style: none;
                    align-items: center;

                }

                &__item {
                    font-size: 2.1rem;
                    line-height: 2.1rem;
                    margin: 0 18px;
                }

                &__link {
                    display: block;
                    color: white;
                    text-decoration: none;

                }
            }
        }
    }








    .main__about {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 890px;
        background-image: url(../images/bgc_main.png);
        background-position: 96px 0%;

        .about__content {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            text-shadow: 3px 5.2px 6px #000000;


            &__title {
                position: absolute;
                top: 400px;
                right: -90px;
                color: white;
                font-weight: 300;
                width: 698px;
                height: 130px;
                font-size: 5rem;


                &-text {
                    font-weight: 300;
                }

                &-bottom {
                    font-size: 2.4rem;
                    text-align: right;
                    margin-right: 90px;
                }
            }

            .about__content__newsletter {
                position: absolute;
                display: flex;
                flex-direction: column;
                bottom: 0;
                width: 100%;
                height: 81px;
                margin-bottom: 35px;


                .newsletter__rectangle {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    height: 15px;
                    margin-bottom: 15px;


                    .rectangle__item {
                        margin-left: 10px;
                        width: 38px;
                        height: 15px;
                        border: 1px solid #707070;

                        &--active {
                            background-color: $main-color;
                        }
                    }
                }

                .row {
                    display: flex;
                }



                .newsletter__form {
                    background-color: white;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 855px;
                    height: 100%;

                    &__image {
                        margin-left: 12px;
                    }

                    &__text {
                        // margin-left: 25px;
                        text-align: center;
                        font-size: 2rem;
                        width: 359px;
                        height: 27px;
                    }

                    &__email {
                        width: 371px;
                        height: 31px;
                        margin-right: 11px;

                    }

                    &__button {
                        background-color: white;
                        width: 133px;
                        height: 55px;
                        border: none;
                        margin-left: auto;
                        font-size: 2rem;
                        font-weight: lighter;
                        font-family: $special-font;
                        color: $main-color;

                    }
                }
            }

        }







        .main__navigation-fixed {
            position: relative;
            position: absolute;
            display: flex;
            justify-content: center;
            top: 88px;
            left: 0px;
            height: 889px;
            width: 212px;
            background-color: white;

            .menu-fixed__arrow {
                position: absolute;
                right: 10px;
            }

            .menu-fixed {
                display: flex;

                align-items: center;

                &__list {

                    height: 649px;
                    list-style: none;
                    width: 125px;

                }

                &__title {
                    padding-bottom: 20px;
                    padding-left: 10px;
                    border-bottom: dotted 2px black;
                }


                &__item {
                    font-size: 2rem;
                    margin-bottom: 8px;


                    &:nth-last-of-type(3) {
                        border-bottom: dotted 2px black;
                        padding-bottom: 20px;
                    }
                }



                &__social {

                    margin-top: 10px;
                    cursor: pointer;
                }

                &__link {
                    display: block;
                    color: #313748;
                    text-align: left;
                    text-decoration: none;
                    cursor: pointer;



                    &--dotted {
                        border-bottom: 2px dotted black;
                        padding-bottom: 20px;

                    }


                }
            }
        }
    }






}