.main {
    position: relative;
    flex-direction: column;
    flex-basis: 978px;
    width: 100%;
    background-color: transparent;

    @media(max-width:$medium-device) {

        width: 768px;
        flex-basis: 531px;

    }

    &__header {
        display: flex;
        height: 88px;
        background-color: transparent;

        .header__search {
            position: absolute;
            right: 22px;
            align-self: center;

            @media(max-width:$medium-device) {
                display: none;
            }


        }

        .menu__content {
            display: flex;
            justify-content: space-between;

            @media(max-width:$medium-device) {
                justify-content: space-between;
                width: 100%;
            }



            .menu__logo {
                position: relative;
                width: 255px;
                height: 184px;
                background-color: white;

                @media(max-width:$medium-device) {
                    width: 117px;
                    height: 87px;
                    z-index: 2;

                }

                &__image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media(max-width:$medium-device) {
                        background-image: url(../images/main_simple_768.png);
                        background-size: cover;
                        width: 80%;
                        // position: absolute;
                        // top: -50%;
                        // left: -50%;
                        // transform: translate(-50%, -50%);

                    }
                }

            }

            .menu {
                display: flex;



                &__list {

                    display: flex;
                    list-style: none;
                    align-items: center;

                    @media(max-width:$medium-device) {
                        margin-right: 50px;
                    }

                }

                &__item {
                    font-size: 2.1rem;
                    line-height: 2.1rem;
                    margin: 0 18px;

                    @media(max-width:$medium-device) {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
                }

                &__link {
                    display: block;
                    color: white;
                    text-decoration: none;

                }
            }
        }


    }








    .main__about {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 890px;
        background-image: url(../images/bgc_main.png);
        background-position: 96px 0%;

        @media(max-width:$medium-device) {
            background-image: url(../images/main_bg_768.png);
            background-position: center;
            width: 100%;
            height: 445px;
        }

        transition: 0.5s;

        // &--active {
        //     background-position: center;
        //     background-size: cover;
        // }

        .about__content {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 890px;
            text-shadow: 3px 5.2px 6px #000000;

            @media(max-width:$medium-device) {

                height: 445px;
                width: 568px;
                // justify-content: center;
                // align-items: center;
            }


            &__title {
                position: absolute;
                top: 400px;
                right: -90px;
                color: white;
                font-weight: 300;
                width: 698px;
                height: 130px;
                font-size: 5rem;

                &-text {
                    text-transform: uppercase;
                }

                @media(max-width:$medium-device) {
                    position: absolute;
                    top: 244px;
                    right: -32px;
                    color: white;
                    font-weight: 300;
                    width: 420px;
                    height: 84px;
                    font-size: 3.2rem;
                    line-height: 40px;
                }


                &-text {
                    font-weight: 300;
                }

                &-bottom {
                    font-size: 2.4rem;
                    text-align: right;
                    margin-right: 90px;

                    @media(max-width:$medium-device) {
                        display: none;
                    }
                }
            }

            .about__content__newsletter {
                position: absolute;
                display: flex;
                flex-direction: column;
                bottom: 35px;
                width: 100%;
                height: 81px;

                @media(max-width:$medium-device) {

                    height: 40px;
                    width: 693px;
                    bottom: 20px;
                }



                .newsletter__rectangle {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    height: 15px;
                    margin-bottom: 15px;

                    @media(max-width:$medium-device) {
                        display: none;
                    }



                    .rectangle__item {
                        margin-left: 10px;
                        width: 38px;
                        height: 15px;
                        border: 1px solid #707070;
                        cursor: pointer;

                        &--active {
                            background-color: $main-color;
                        }
                    }
                }

                .row {
                    display: flex;
                }



                .newsletter__form {
                    background-color: white;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 855px;
                    height: 100%;

                    @media(max-width:$medium-device) {
                        width: 484px;
                        height: 40px;
                    }


                    &__image {

                        margin-left: 12px;


                    }

                    &__text {

                        text-align: center;
                        font-size: 2rem;
                        width: 359px;
                        height: 27px;

                        @media(max-width:$medium-device) {
                            display: none;
                        }


                        &--medium {
                            display: none;

                            @media(max-width:$medium-device) {
                                display: block;
                                font-size: 1.6rem;
                                font-weight: 300;
                            }

                        }
                    }

                    &__email {
                        width: 371px;
                        height: 31px;
                        margin-right: 11px;

                        @media(max-width:$medium-device) {
                            width: 287px;
                            height: 23px;
                            margin-right: 11px;
                        }


                    }

                    &__button {
                        background-color: white;
                        width: 133px;
                        height: 55px;
                        border: none;
                        margin-left: auto;
                        font-size: 2rem;
                        font-weight: lighter;
                        font-family: $special-font;
                        color: $main-color;
                        cursor: pointer;

                        @media(max-width:$medium-device) {
                            width: 100px;
                            height: 41px;
                            margin-left: 10px;
                            font-size: 1.6rem;
                        }

                    }
                }
            }

        }







        .main__navigation-fixed {
            position: relative;
            position: fixed;
            display: flex;
            // flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            top: 88px;
            left: 0px;
            height: 889px;
            width: 212px;
            background-color: white;
            box-shadow: 3px 0px 6px #000000;
            transition: 0.5s;
            z-index: 1;
            flex: 1;



            @media(max-width:$medium-device) {
                position: relative;
                position: fixed;
                top: 88px;
                left: 0px;
                z-index: 1;
                height: 445px;
                width: 117px;
            }

            &--active {
                top: 0;
                left: -170px;
                height: 1020px;

                @media(max-width:$medium-device) {
                    left: -100px;
                    height: 978px;
                }
            }

            &--scrolled {
                top: 0;
                height: 100%;

            }

            .menu-fixed__arrow {
                position: absolute;
                right: 10px;
                cursor: pointer;

                &--active {
                    // height: 100%;
                    transform: rotate(180deg);
                    // background-color: $main-color;
                }
            }

            .menu-fixed {
                display: flex;
                align-items: center;

                @media(max-width:$medium-device) {}

                &__list {

                    height: 649px;
                    list-style: none;
                    width: 125px;

                    @media(max-width:$medium-device) {
                        height: 450px;
                        list-style: none;
                        width: 97px;
                    }

                }

                &__title {
                    // padding-bottom: 20px;
                    padding-left: 10px;

                    // border-bottom: dotted 2px black;
                    @media(max-width:$medium-device) {
                        padding-top: 5px;
                        padding-left: 5px;
                    }

                }


                &__item {
                    font-size: 2rem;
                    line-height: 33px;

                    @media(max-width: $medium-device) {
                        font-size: 1.4rem;
                        line-height: 23px;
                    }


                }

                .menu-fixed__item--line {
                    border: none;
                    border-top: 1px dotted $main-color;
                    color: #fff;
                    background-color: #fff;
                    height: 1px;
                    margin: 10px 0;

                    @media(max-width: $medium-device) {
                        margin: 10px 0;
                        width: 39px;
                    }
                }


                .menu-fixed__social {
                    position: absolute;
                    // background-color: yellow;
                    // justify-self: flex-start;
                    // flex: 2;
                    // width: 212px;
                    bottom: 20%;
                    font-size: 2rem;

                    @media(max-width: $medium-device) {
                        display: flex;
                        flex-direction: row-reverse;
                        bottom: 5%;
                        width: 87px;
                        // padding-left: 10px;
                        // justify-content: space-between;
                    }

                    .menu-fixed__social__item {
                        margin-top: 10px;

                        @media(max-width: $medium-device) {
                            margin-right: 20px;
                        }

                    }


                }

                &__social {

                    margin-top: 10px;
                    cursor: pointer;

                }

                &__link {
                    display: block;
                    color: #313748;
                    text-align: left;
                    text-decoration: none;
                    cursor: pointer;

                    &:nth-last-child(1) {
                        display: flex;
                        flex-direction: row;
                    }

                }
            }
        }
    }






}