.news {
    display: flex;
    flex-direction: column;
    height: 987px;
    width: 100%;
    background-color: white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 162px;
        border-bottom: dotted 2px $main-color;
    }

    &__image {
        margin-right: 14px;
    }

    &__title {
        color: $main-color;
        font-size: 2.9rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 500px;

    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 365px;
        width: 190px;
        color: $main-color;
        font-weight: 300;
        font-size: 1.4rem;

        &-image {
            &--rotate {
                color: white;
                width: 100%;
                transform: rotate(180deg);

            }
        }

        .item__info {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-basis: 50%;




            .info__title {
                text-transform: uppercase;
            }

            .info__link {



                text-decoration: none;
            }

            .info__text {
                padding-bottom: 15px;
            }

            .info__line {
                border: none;
                border-top: 1px dotted $main-color;
                color: #fff;
                background-color: #fff;
                height: 1px;
                width: 51px;
            }

        }

        &--arrow {
            width: 26px;
            height: 42px;
        }



    }
}