.services {
    display: flex;
    height: 978px;
    width: 100%;
    background-color: $main-color;

    &__header {
        display: flex;
        height: 160px;
        align-items: center;
        justify-content: center;
        border-bottom: dotted 2px white;
    }

    &__image {
        margin-right: 17px;
    }

    &__title {
        color: white;
        line-height: 35px;
        font-size: 2.9rem;
        text-transform: uppercase;
        font-weight: 300;

    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 340px;
        margin-top: 62px;


    }

    &__column {
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;



    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            font-size: 1.7rem;
            color: white;
            padding-top: 11px;
            text-align: center;


        }
    }

    &__description {
        height: 331px;

    }

    &__text {
        color: white;
        font-size: 2.1rem;
        font-weight: 300;
        column-count: 2;
        column-gap: 27px;
        margin-top: 75px;
        line-height: 25px;



    }


}

@media screen and (max-width:$medium-device) {
    .services {
        display: flex;
        height: 445px;
        width: 100%;
        background-color: $main-color;



        &__header {
            display: flex;
            height: 87px;
            align-items: center;
            justify-content: center;
            border-bottom: dotted 2px white;
        }

        &__image {
            margin-right: 17px;
        }

        &__title {
            color: white;
            line-height: 20px;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 300;

        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 257px;
            margin-top: 33px;


        }

        &__column {
            flex: 1;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;




        }



        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;


            &-text {
                font-size: 1.2rem;
                color: white;
                padding-top: 11px;
                text-align: left;
                padding-left: 25px;






            }
        }

        .br {
            display: none;

        }

        &__description {
            height: 331px;

        }

        &__text {
            display: none;
            color: white;
            font-size: 2.1rem;
            font-weight: 300;
            column-count: 2;
            column-gap: 27px;
            margin-top: 75px;
            line-height: 25px;



        }


    }
}